/* General sidebar styles */
.bm-menu {
  background: white;
  font-size: 1.15em;
  font-family: monospace;
}

.user {
  margin-top: 3rem;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  h3, p {
    padding-left: 30px;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 32px;
  height: 26px;
  left: 32px;
  top: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px;
  width: 36px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* Wrapper for item list */
/* .bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
  */
/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.menu-item {
  font-family: monospace;
  outline: none;
  text-decoration: none;
  margin: 30px;
  color: black;
}
